@import "styles/defaultincludes";
@import "styles/globalclasses";

.accordion {
  padding: 1rem 0;
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-size: 14px;
    font-weight: 700;
    line-height: 14px;
    letter-spacing: 0.5px;
    color: var(--primary-charcoal, #333333);
    text-transform: uppercase;
  }
  .section {
    transition: max-height 0.3s ease;
    max-height: 0;
    overflow: hidden;

    .content {
      padding: 1rem;
      background-color: #fff;
    }

    &.expanded {
      max-height: 1000px;
      transition: max-height 0.3s ease;
    }
  }
}
