@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

@import "node_modules/bootstrap/scss/close";
@import "node_modules/bootstrap/scss/modal";

.speakerModal {
  border-radius: 10px;
  --bs-border-radius-lg: 30px;
  --bs-border-width: 0;
  --bs-modal-header-padding: 1.5rem 2rem 1rem;
  --bs-modal-padding: 1.5rem 1.5rem;

  :global(.modal-header) {
    border-bottom: unset;
  }
}

.popupModal {
  .modal-dialog {
    --bs-modal-width: 500px;
  }
}

.buttonModal {
  --bs-border-radius-lg: 10px;
  --bs-border-width: 0;
  --bs-modal-header-padding: 1.5rem 2rem 1rem;
  --bs-modal-padding: 1.5rem 1.5rem;

  :global(.modal-header) {
    border-bottom: unset;
  }
}


.removeHeaderBorder {
  .modal-header {
    border-bottom: unset;
  }
}