@import "styles/defaultincludes";
@import "styles/globalclasses";

.desktopLogo {
  display: none;
  @include media-breakpoint-up(lg) {
    display: block;
  }
}

.mobileLogo {
  display: block;
  @include media-breakpoint-up(lg) {
    display: none;
  }
}