@import "styles/defaultincludes";
@import "styles/globalclasses";

.nav {
  padding: 0 20px;
  height: var(--navBarHeight, 78px);
  width: 100%;
  @include media-breakpoint-up(lg) {
    padding-bottom: 0;
    &:before {
      display: none;
    }
  }
  @include media-breakpoint-up(xl) {
    padding: 0 30px;
  }
}

.navContainer {
  display: flex;
  align-items: center;
  height: 100%;
  flex-grow: 1;
  @include media-breakpoint-down(lg) {
    border-top: 1px solid #e8e8e8;
    position: absolute;
    background: white;
    top: calc(var(--navBarHeight, 78px) - 7px);
    right: 0;
    left: 0;
    width: 100%;
    height: calc(
      100vh -
        ((var(--navBarHeight, 78px) - 15px) + var(--promo-banner-height, 40px))
    );
    display: none;
    flex-direction: column;
    justify-content: space-between;
  }
  .mainNav {
    width: 100%;
    padding: 20px;
    @include media-breakpoint-up(lg) {
      display: flex;
      width: auto;
      padding: 0;
    }
  }

  .main-menu {
    width: 100%;
    white-space: nowrap;
    padding: 20px;

    @include media-breakpoint-down(lg) {
      padding: 0 20px 20px;
    }

    @include media-breakpoint-down(sm) {
      width: 100%;
      border-bottom: 1px solid #e8e8e8;
      padding: 0 20px 20px;
    }

    .main-item {
      display: flex;
      align-items: center;
      height: 100%;
      cursor: pointer;
      width: 100%;
      @include media-breakpoint-down(sm) {
        justify-content: space-between;
      }

      span {
        position: relative;
        &:hover {
          opacity: 0.8;
          &::after {
            content: "";
            position: absolute;
            bottom: calc(
              var(--navBarHeight, 78px) - (var(--navBarHeight, 78px) + 35px)
            );
            left: 0;
            width: 100%;
            height: 3px;
            background: $heritage-blue;
          }
          @include media-breakpoint-down(sm) {
            all: unset;
          }
        }
      }

      &.hasChild {
        position: static;
      }

      @include media-breakpoint-down(sm) {
        height: 70px;
      }
    }
    .dropdown-menu {
      border: 1px solid rgba(0, 0, 0, 0.15);
      position: absolute;
      top: calc(var(--navBarHeight, 78px));
      left: 0;
      display: flex;
      flex-direction: column;
      width: 100%;
      z-index: 1000;
      min-width: 10rem;
      padding: 0.5rem 0;
      background: var(--bkgColor-white, #ffffff);
      background-clip: padding-box;
      box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.05);

      @include media-breakpoint-down(sm) {
        position: unset;
        border: none;
        box-shadow: none;
        background: none;
      }
      &[data-topnav-dropdown-selected="false"] {
        display: none;
      }
    }
    .dropdown-item {
      display: block;
      height: 100%;
      margin-top: 15px;

      @include media-breakpoint-down(sm) {
        padding-left: 30px !important;
      }
    }
  }

  [data-show-dropdown="true"] {
    opacity: 0.8;
    &::after {
      content: "";
      position: absolute;
      bottom: calc(
        var(--navBarHeight, 78px) - (var(--navBarHeight, 78px) + 35px)
      );
      left: 0;
      width: 100%;
      height: 3px;
      background: $heritage-blue;
    }
    @include media-breakpoint-down(sm) {
      opacity: 1;
      &::after {
        all: unset;
      }
    }
  }
}

.sideSection {
  display: flex;
  flex-direction: column;
  margin-top: 42px;
  width: 100%;
  flex-wrap: no-wrap;
  position: relative;

  @include media-breakpoint-up(lg) {
    margin: 0 0 0 auto;
    width: auto;
    display: flex;
    align-items: center;
    flex-direction: row;
  }
  @include media-breakpoint-down(lg) {
    flex-direction: column;
    gap: 0.5rem;
    align-items: unset;
    width: 100%;
    padding: 22px 20px 20px;
    background-color: #0067ac;
  }
}

.sideSectionInner {
  --topbottomval: -25px;

  .localeContainer {
    position: absolute;
    margin: 0;
    top: var(--topbottomval);
    right: 0;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 0.5rem;
    a {
      text-decoration: underline;
    }

    @include media-breakpoint-down(lg) {
      position: relative;
      top: unset;
      right: unset;
      margin: 0;
      a {
        text-decoration: none;
        color: #ffffff;
      }
    }
  }
}
