@import "/styles/variables";
@import "/styles/defaultincludes";
@import "/node_modules/bootstrap/scss/containers";
@import "/node_modules/bootstrap/scss/grid";
@import "/node_modules/bootstrap/scss/nav";
@import "/node_modules/bootstrap/scss/navbar";
@import "/node_modules/bootstrap/scss/utilities";
@import "/node_modules/bootstrap/scss/reboot";
@import "/node_modules/bootstrap/scss/buttons";
@import "/node_modules/bootstrap/scss/root";
@import "/node_modules/bootstrap/scss/utilities/api";
@import "/node_modules/bootstrap/scss/close";
@import "/node_modules/bootstrap/scss/modal"; 

:root {
  // ===================
  // GLOBAL VARIABLES
  // ===================

  --navBarHeight: #{$navbar-height};
  --slider-position: 50%;

  --fontColor-white: #{$primary-white};
  --fontColor-charcoal: #{$primary-charcoal};

  --fontColor-fire-red: #{$primary-fire-red};
  --fontColor-flame-orange: #{$primary-flame-orange};
  --fontColor-golden-orange: #{$primary-golden-orange};
  --fontColor-sun-yellow: #{$primary-sun-yellow};

  --fontColor-darkGrey: #ffffff;
  --fontColor-lightGrey: #000000;

  --fontColor-firegradient: #ffffff;
  --fontColor-sungradient: #000000;

  --fontColor-error: #{$error};

  --bkgColor-white: #{$primary-white};

  --bkgColor-fire-red: #{$primary-fire-red};
  --bkgColor-flame-orange: #{$primary-flame-orange};
  --bkgColor-golden-orange: #{$primary-golden-orange};
  --bkgColor-sun-yellow: #{$primary-sun-yellow};

  --bkgColor-lightOrange: #{$light-orange};
  --bkgColor-lightYellow: #{$light-yellow};

  --bkgColor-lightGrey: #{$light-grey};
  --bkgColor-mediumGrey: #{$medium-grey};
  --bkgColor-darkGrey: #{$dark-grey};

  --bkgColor-transparent: transparent;

  --bkgColor-firegradient: #{$gradient-fire-horse};
  --bkgColor-sungradient: #{$gradient-sun};
  --bkgColor-firetextgradient: #{$gradient-fire-text};
  --bkgColor-fireglowgradient: #{$gradient-fire-glow};
  --bkgColor-warmlightgradient: #{$gradient-warm-light};

  --borderColor-default: #{$primary-charcoal};

  --borderColor-fire-red: #{$primary-fire-red};
  --borderColor-flame-orange: #{$primary-flame-orange};
  --borderColor-golden-orange: #{$primary-golden-orange};

  --borderColor-grey: #{$grey};
  --borderColor-lightGrey: #{$light-grey};

  --borderColor-white: #{$primary-white};

  --btnHeight-sm: 50px;
  --btnHeight-md: 50px;
  --btnHeight-header-footer: 40px;

  --btnFontSize-sm: 1rem;
  --btnFontSize-md: 0.875rem;
  --btnFontSize-header-footer: 0.875rem;

  --btnPadding-sm: 0.625rem 2rem;
  --btnPadding-md: 0.625rem 3rem;
  --btnPadding-header-footer: 0.625rem 2rem;

  --btnColor-fire-red: #{$primary-fire-red};
  --btnColor-flame-orange: #{$primary-flame-orange};
  --btnColor-golden-orange: #{$primary-golden-orange};
  --btnColor-darkGrey: #{$deep-grey};

  --btnHoverColor-fire-red: #b92205;
  --btnHoverColor-flame-orange: #d94800;
  --btnHoverColor-golden-orange: #d97706;
  --btnHoverColor-darkGrey: #373431;

  --bkgHoverColor-grey: #f6f6f6;
  --bkgHoverColor-orange: #fff0e6;
}

html,
body {
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

* {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: $primary-charcoal;
}

@import "./defaults";
@import "./globalclasses";

.styledModal {
  :global(.modal-dialog) {
    width: 95%;
    min-height: 100%;
    margin: 0 auto;
    @include media-breakpoint-up(sm) {
      width: 95%;
    }
    @include media-breakpoint-up(lg) {
      width: 70%;
    }
  }

  :global(.modal-body) {
    padding: 20px;
  }
}

.calendly-overlay .calendly-popup {
  height: 100% !important;
  min-height: 100% !important;
}